.main-body{
    padding: 50px;
    .card{
        border: none;
        background: var(--white);
        box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        position: relative;
        .heading {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 20px;
            .icon {
                max-width: 25px;
                display: inline-block;
                margin-right: 10px;
            }
        }
        .btm-save {
          text-align: right;
          position: absolute;
          bottom: 30px;
          right: 30px;
      }
    }
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 1px solid var(--border);
  border-radius: 0.2em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.5em;
  vertical-align: middle;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: var(--base-color);
  border-color: var(--base-color);
  color: var(--white);
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: var()--border;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
}
.table-header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid var(--border);
  .heading{
    font-size: 16px!important;
  }
  p{
    margin-bottom: 0;
    max-width: 60%;
    flex: 0 0 60%;
  }
  .search-wraper{
    flex: 0 0 40%;
    max-width: 40%;
    .table_search {
      position: relative;
      input.rounded-control {
        box-shadow: none;
        border: 1px solid var(--border);
        border-radius: 50px;
        height: 48px;
        width: 100%;
        padding: 10px 20px;
        outline: none;
      }
      .searchIcon {
        position: absolute;
        max-width: 20px;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
.table-footer{
  padding: 10px;
  text-align: right;
}