.navbar-expand-lg > .container-fluid{
	flex-wrap: wrap;
	padding: 0;
}
nav.navbar {
    padding: 0;
	.navbar-brand {
		display: flex;
		align-items: center;
		padding: 10px 30px;
		.brand-logo {
			max-width: 50px;
			margin-right: 10px;
		}
		.brand-text{
			font-weight: 900;
		}
	}                     
	.navbar-right{
		padding: 10px 30px;
		text-decoration: none;
		.profile-option {	
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			text-decoration: none;
			.dropdown-toggle{
				&::after{
					border-top-color: var(--base-color);
				}
			}
			.user-navbar-img {
				height: 60px;
				width: 60px;
				background: #ddd;
				border-radius: 50%;
				margin-right: 15px;
			}
			.user-navbar-name{
				color: var(--base-font-color);
			}
		}
		.date-showcase{
			font-size: 12px;
		}
		.dropdown-menu{
			&.show{
				left: auto;
				right: 20px;
				top: 70px;
			}
		}
	}
	.navbar-collapse {
		background: var(--base-color);
		padding: 0 15px;
		.navbar-nav{
			.nav-link{
				padding: 16px;
				color: var(--white);
				font-weight: 300;
				letter-spacing: 1px;
				&.dropdown-toggle{
					&::after{
						display: none;
					}
				}
			}
		}
	}
}