.sec-adduser{
    .card{
        padding: 40px;
        .add-user{
            padding-top: 30px;
            .submit-btn{
                .btn{
                    margin: 0 15px 0 0;
                }
            }
        }
    }
}