<app-header></app-header>
<section class="main-body">
    <div class="container-fluid">
        <div class="upload-policies">
            <div class="card">
                <p class="heading mb-4">Upload Policies</p>
                <div class="form-wraper">
                    <form>
                        <div class="row">
                          <div class="col">
                            <label>Originator</label>
                            <input type="text" class="form-control" placeholder="Originator">
                          </div>
                          <div class="col">
                            <label>Letter No.</label>
                            <input type="text" class="form-control" placeholder="Letter No.">
                          </div>
                          <div class="col">
                            <label>Letter Date</label>
                            <input type="date" class="form-control" placeholder="Letter Date">
                          </div>
                          <div class="col">
                            <label>Heading</label>
                            <input type="text" class="form-control" placeholder="Heading">
                          </div>
                        </div>
                        <p class="mt-5">
                            <button class="btn" type="submit">Upload Policies</button>
                        </p>
                    </form>
                    <div class="btm-save">
                        <button class="btn" disabled>Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
