<section class="section-Login">
	<div class="login-wraper">
		<div class="login-left-side">
			<h1>The unseen hand that shapes the army's punch surely & silently</h1>
			<p>Army Ordnance Corps</p>
		</div>
		<div class="login-right-side">
			<h2>17 FIELD AMMUNITION DEPOT</h2>
			<form>
				<h4>ATO's e-Book</h4>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username or Email" />
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password"/>
				</div>
				<div class="form-group mt-4">
					<input (click)="goToHome()" routerLink="/home" type="button" class="btn btn-theme" value="Sign in">
				</div>
			</form>
		</div>
	</div>
</section>

