<section class="section-Login">
	<div class="container-fluid">
		<div class="login-wraper">
			<div class="row">
				<div class="col-lg-7">
					<div class="login-right-side">
						<h1>The unseen hand that shapes the army's punch surely & silently</h1>
						<p>Army Ordnance Corps</p>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="login-right-side">
						<form>
							<h2>ATO's e-Book</h2>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username or Email" />
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password"/>
							</div>
							<div class="form-group">
								<input (click)="goToHome()" routerLink="/home" type="button" class="btn btn-theme" value="Sign in">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

