<app-header></app-header>
<section class="main-body">
    <div class="container-fluid">
        <div class="defect-investigation">
            <div class="card">
                <p class="heading mb-4">Defect Investigation</p>
                <div class="form-wraper">
                    <form>
                        <div class="row mb-4">
                          <div class="col">
                            <label>Amk</label>
                            <input type="text" class="form-control" placeholder="Amk">
                          </div>
                          <div class="col">
                            <label>Nomenclature</label>
                            <input type="text" class="form-control" placeholder="Nomenclature">
                          </div>
                          <div class="col">
                            <label>Lot Details</label>
                            <input type="text" class="form-control" placeholder="Lot Details">
                          </div>
                          <div class="col">
                            <label>Unit</label>
                            <input type="text" class="form-control" placeholder="Unit">
                          </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                              <label>Fmn</label>
                              <input type="text" class="form-control" placeholder="Fmn">
                            </div>
                            <div class="col">
                              <label>Date of Accident</label>
                              <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                            </div>
                            <div class="col">
                              <label>Unit Photographs</label>
                              <input type="text" class="form-control" placeholder="Unit Photographs">
                            </div>
                            <div class="col">
                              <label>Seg List No</label>
                              <input type="text" class="form-control" placeholder="Seg List No">
                            </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            <label>Ato Name</label>
                            <input type="text" class="form-control" placeholder="Ato Name">
                          </div>
                          <div class="col">
                            <label>Ato Fmn</label>
                            <input type="text" class="form-control" placeholder="Ato Fmn">
                          </div>
                          <div class="col">
                            <label>Ato Letter No</label>
                            <input type="text" class="form-control" placeholder="Ato Letter No">
                          </div>
                          <div class="col">
                            <label>Ato Letter Date</label>
                            <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                          </div>
                        </div>
                    </form>
                    <div class="btm-save">
                        <button class="btn">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
