<app-header></app-header>
<article>
	<section class="main-body">
		<div class="container-fluid">
			<div class="detail-card-wrapper">
				<div class="row">
					<div class="col-sm-3">
						<div class="card">
							<div class="icon">
								<img src="../../assets/images/users.png" alt="icon-user">
							</div>
							<div class="details">
								<p>User</p>
								<h4>1200</h4>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card">
							<div class="icon">
								<img src="../../assets/images/subject.png" alt="icon-subject">
							</div>
							<div class="details">
								<p>Subject</p>
								<h4>12</h4>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card">
							<div class="icon">
								<img src="../../assets/images/category.png" alt="icon-category">
							</div>
							<div class="details">
								<p>Category</p>
								<h4>120</h4>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card">
							<div class="icon">
								<img src="../../assets/images/sub-category.png" alt="icon-sub-category">
							</div>
							<div class="details">
								<p>Sub Category</p>
								<h4>500</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="table-wrapper">
				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="table-header">
								<p class="heading">User List</p>
								<div class="search-wraper">
									<div class="table_search">
										<input type="search" class="rounded-control">
										<span class="searchIcon">
											<img src="../../assets/images/search.png" alt="icon search">
										</span>
									</div>
								</div>
							</div>
							<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
								<ng-container matColumnDef="name">
									<th mat-header-cell *matHeaderCellDef> Name </th>
									<td mat-cell *matCellDef="let element"> {{element.name}} </td>
								</ng-container>
	
								<ng-container matColumnDef="phone_number">
									<th mat-header-cell *matHeaderCellDef> Phone Number </th>
									<td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
							</table>
							<div class="table-footer">
								<a href="#" class="btn btn-sm btn-dark">View all</a>
							</div>
						</div>						
					</div>

					<div class="col-sm-6">
						<div class="card">
							<div class="table-header">
								<p class="heading">Page View Count</p>
								<div class="search-wraper">
									<div class="table_search">
										<input type="search" class="rounded-control">
										<span class="searchIcon">
											<img src="../../assets/images/search.png" alt="icon search">
										</span>
									</div>
								</div>
							</div>
							<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
								<ng-container matColumnDef="name">
									<th mat-header-cell *matHeaderCellDef> Name </th>
									<td mat-cell *matCellDef="let element"> {{element.name}} </td>
								</ng-container>
	
								<ng-container matColumnDef="phone_number">
									<th mat-header-cell *matHeaderCellDef> Phone Number </th>
									<td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
							</table>
							<div class="table-footer">
								<a href="#" class="btn btn-sm btn-dark">View all</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="graph-wrapper">
				<div class="card">
					<p class="heading"><span class="icon"><img src="../../assets/images/statistics.png" alt="icon statistics"></span> User Design</p>
					<div id="chartContainer">
						<div class="chart-wrapper">
							<canvas baseChart height="400" 
							[datasets]="barChartData"
							[labels]="barChartLabels"
							[colors]="chartColors"
							[options]="barChartOptions"
							[plugins]="barChartPlugins"
							[legend]="barChartLegend"
							[chartType]="barChartType">
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</article>

