<app-header></app-header>
<article>
    <section class="main-body">
        <div class="container-fluid">
          <div class="secSearch">
            <h2>Faculty Of Munitions</h2>
            <div class="search-wrapper">
                <form>
                    <div class="form-group">
                      <input type="search" class="form-control" id="searcheBook" aria-describedby="search-book" placeholder="Search Category/ Sub Category/ Subject/ Sub Subject">
                    </div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button">Action</button>
                          <button class="dropdown-item" type="button">Another action</button>
                          <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card no-table mt-4">

            </div>
          </div>
        </div>
    </section>
</article>
