.secSearch{
    padding: 50px 0;
    h2{
        font-weight: 800;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .search-wrapper {
        max-width: 800px;
        margin: 0 auto;
        form{
            display: flex;
            flex-wrap: wrap;
            .form-group{
                flex: 0 0 80%;
                max-width: 80%;
            }
            .dropdown{
                flex: 0 0 20%;
                max-width: 20%;
                justify-content: flex-end;
                display: flex;
            }
        }
    }
    .card {
        min-height: calc(100vh - 300px);
        max-width: 1400px;
        margin: 0 auto;
        &.no-table{
            background: var(--white) url(../../assets/images/center-img.png)no-repeat;
            background-position: center center;
        }
    }
}